// ===============================================================================================================
// Referenze per le customizzazioni
// ===============================================================================================================
 
import java.io.*;
import java.nio.charset.StandardCharsets;
import org.apache.xmlbeans.XmlCursor;
import org.apache.xmlbeans.XmlObject;

// ===============================================================================================================